body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.index-page {
    background-color: #2E2E47;
    color: #EFEAD9;
}

.latin-america-page {
    background-color: #3B2D3C;
    color: #EFEAD9;
}

.europe-page {
    background-color: #5B8D9E;
    color: #000042;
}

.north-america-page {
    background-color: #7D9883;
    color: #013220;
}

.nav-bar {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr 1fr;
    grid-column-gap: 10px;
    list-style: none;
    text-align: center;
    padding: 25px;
    font-size: 20px;
} 

.index-page .nav-bar {
    background: #EFEAD9;
}

.index-page .nav-bar a {
    text-decoration: none;
    text-align: center;
    color: #2E2E47;
}

.latin-america-page .nav-bar {
    background: #EFEAD9;
    color: #3B2D3C;
}

.latin-america-page .nav-bar a {
    text-decoration: none;
    text-align: center;
    color: #3B2D3C;
}

.europe-page .nav-bar {
    background: #2E2E47;
    color: #EFEAD9;
}

.europe-page .nav-bar a {
    text-decoration: none;
    text-align: center;
    color: #EFEAD9;
}

.north-america-page .nav-bar {
    background: #013220;
}

.north-america-page .nav-bar a {
    text-decoration: none;
    text-align: center;
    color: #EFEAD9;
}

.home-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 40px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.links {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.links a {
    margin: 10px;
}

.interactive-map {
    padding-top: 20px;
    background: #ffffff;
    color: #2E2E47;
}

.interactive-map img {
    width: 100%;
    height: auto;
}

.skip-link {
    position: absolute;
	left: -1000px;
    color: #ffffff;
}

.skip-link2 {
    position: absolute;
	left: -1000px;
    color: #000000;
}

.skip-link:focus {
    left: 10px;
    color: #000000;
}

.skip-link2:focus {
    left: 10px;
    color: #ffffff;
}

.map-img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.location-img {
    border-radius: 12%;
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.mex-grid, .dr-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-content: center;
}

.mex-grid img, .dr-grid img {
    width: 100%;
    height: auto; 
    border-radius: 12%;
}

.click {
    font-size:14px;
    padding: 20px
}

.ams-grid, .barc-grid, .berlin-grid, .greece-grid, .paris-grid, .swe-grid {
    background:#2E2E47;
    display: flex;
    overflow-x: auto; /* horizontal scroll */
    overflow-y: hidden; /* no vertical scroll */
    align-items: center;
    gap: 10px; 
    padding-bottom: 30px; 
    padding-top: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.ams-grid img, .barc-grid img, .berlin-grid img, .greece-grid img, .paris-grid img, .swe-grid img {
    height: 300px;
    flex-shrink: 0; /* prevents images from shrinking */
    width: auto;
    border-radius: 12%;
}

.aa, .chat, .nyc {
    padding-top: 30px;
    color: #7D9883;
    background-color: #013220;
}

.aa-grid, .cabin-grid, .chat-grid, .la-grid, .nyc-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    gap: 20px;
    padding-bottom:20px;
    margin-bottom: 50px;
}

.aa-grid img, .cabin-grid img, .chat-grid img, .la-grid img, .nyc-grid img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.aa-grid .small-img, .cabin-grid .small-img, .chat-grid .small-img, .la-grid .small-img, .nyc-grid .small-img {
    grid-row: span 1;
}

.aa-grid .big-img, .cabin-grid .big-img, .chat-grid .big-img, .la-grid .big-img, .nyc-grid .big-img {
    grid-row: span 2;
}

.scroll-instructions {
    font-size: 14px;
}

.map-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.map-button {
    background: none;
    border: none;
    padding:0;
    margin:0;
    outline: none;
}

.map-grid img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.interactive-latin {
    grid-row: span 1;
    justify-self: end;
    align-self: start;
}

.interactive-europe {
    grid-row: span 2;
}

.interactive-north {
    grid-row: span 1;
    align-self: end;
}

/* tablet view */
@media only screen and (min-width: 768px) {
    .mex-grid, .dr-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding-bottom: 80px;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;
        align-content: center;
    }

    .scroll-instructions {
        font-size: 16px;
    }
}

/* desktop view */
@media only screen and (min-width: 1024px) {
    .aa-grid, .cabin-grid, .chat-grid, .la-grid, .nyc-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }    

    .aa-grid .small-img, .cabin-grid .small-img, .chat-grid .small-img, .la-grid .small-img, .nyc-grid .small-img {
        grid-row: span 1;
    }
    
    .aa-grid .big-img, .cabin-grid .big-img, .chat-grid .big-img, .la-grid .big-img, .nyc-grid .big-img {
        grid-row: span 1;
    }

}